$PrimaryColor1: #323232;
$PrimaryColor2: #afafaf;
$PrimaryColor3: #ffffff;
$SecondaryColor1: #000000;
$SecondaryColor2: #e1e1e1;
$SecondaryColor3: #fafafa;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1279px;
