@use "./partials/_global" as *;
@use "./partials/_font" as *;
@use "./partials/_mixins" as *;
@use "./partials/_variables" as *;

.hero-show {
  display: flex;
  flex-direction: column;
  align-items: left;

  justify-content: space-evenly;
  background: url("../assets/images/hero-shows.jpg") #323232;
  background-blend-mode: overlay;
  opacity: 90%;
  padding: 4rem 1rem;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 30rem;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    height: 40rem;
  }
}
.hero-left {
  @include desktop {
    width: 50%;
  }
}

h1.hero-shows {
  width: 60%;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  height: 8rem;
  @include mobilePageHeader;
  @include tablet {
    @include desktopPageHeader;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 4rem;
  }

  @include desktop {
    @include desktopPageHeader;

    padding-left: 4rem;
    padding-right: 4rem;
  }
}
p.hero-album {
  width: 70%;
  color: white;
  padding-left: 1rem;
  display: flex;
  align-items: center;

  @include mobileBodyCopy;
  @include tablet {
    @include desktopSubHeader;
    font-weight: 500;
  }
  @include desktop {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }
}

.shows {
  padding: 1.5rem;
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  } //need to check guide
}
.shows__title1 {
  @include desktop {
    width: 70%;
  }
}

.shows__subtitle--date,
.shows__subtitle--ven,
.shows__subtitle--loc {
  @include mobileLabels;
  font-size: 1rem;
  color: $PrimaryColor2;

  @include tablet {
    display: none;
  }
}

.shows {
  &__venue,
  &__location {
    @include mobileBodyCopy;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1.1rem;
    }

    @include desktop {
      @include desktopBodyCopy;
    }
  }
  &__date {
    @include mobileBodyCopy;
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include tablet {
      font-size: 1.1rem;
    }

    @include desktop {
      @include desktopBodyCopy;
      font-weight: 600;
    }
  }
}
.shows-section {
  @include tablet {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: baseline;
  }
  &:hover {
    background-color: $SecondaryColor3;
  }
}
.shows__button {
  display: flex;
  align-items: center;
  height: 2.5rem;
  @include mobileSubHeader;
  padding: 1rem;
  border-radius: 0.25rem;
  color: $PrimaryColor3;
  background-color: $PrimaryColor1;
  width: 100%;
  margin-bottom: 1rem;

  justify-content: center;
  @include tablet {
    width: 15rem;
  }
  @include tablet {
    font-size: 1.2rem;
  }
  @include desktop {
    font-size: 1rem;
  }
}
.shows__button:hover {
  background-color: $SecondaryColor1;
}

.hero-player {
  padding: 1rem;
  width: 70%;
  @include desktop {
    width: 40%;
  }
}

hr {
  margin-top: 0rem;
}
